<a href="https://colab.research.google.com/github/samiHEL/exo_python/blob/main/Exercice_HELLA_Sami.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exo 2.1

Pseudo code:

```
# Ce texte est au format code
Variable nb1 en Entier
Variable nb2 en Entier
Début
Ecrire "Entrez le premier chiffre:"
Ecrire "Entrez le premier deuxieme chiffre:"
Si nb1<0 OU nb2<0 Alors
  Ecrire "Produit negatif”
Sinon
  Ecrire "Produit positif"
Finsi
Fin
```

Complexité O(n)

In [ ]:
# exo 2.1
nb1=int(input('Entrez le premier chiffre: '))
nb2=int(input('Entrez le deuxieme chiffre : '))
def produit(nb1,nb2):
    if nb1<0 :
        print("produit negatif")
    else:
        print("produit positif")
produit(nb1,nb2)

Entrez le premier chiffre: 3
Entrez le deuxieme chiffre : 5
produit positif


Exo 2.2

Pseudo code:

```
# Ce texte est au format code
Variable nb en Entier
Variable result en Decimal
Début
Ecrire "Entrez le premier chiffre:"
result=(nb*(nb+1))/2
Afficher result
Fin
```
Complexité O(n)

In [ ]:
# exo 2.2
nb=int(input('Entrez le premier chiffre: '))
def additivite(nb):
    result=(nb*(nb+1))/2
    print(result)
additivite(nb)

Entrez le premier chiffre: 8
36.0

Exo 2.3

In [ ]:
# exo 2.3
tab=[2,2,3,4,5]

def somme(tab):
    result=0
    for i in range(len(tab)):
        result=result+tab[i]
    print(result)
somme(tab)
sum(tab)

16

16

Exo 2.4

In [ ]:
# exo 2.4
tab=[2,4,5,6]
tab2=[3,5,7,2]

def somme2(tab,tab2):
    total=0
    for i in range(len(tab)):
        for j in range(len(tab2)):
          total=total+(tab[i]*tab[j])
    print(total)
somme2(tab,tab2)

289

Exo 2.5

In [ ]:
# exo 2.5

tab=[]
nb1=int(input('taille du tableau  : '))
for i in range(nb1):
    nb=int(input('Entrez un chiffre: '))
    tab.append(nb)
    for j in range(len(tab)):
        maxx=max(tab)
        if tab[j] == maxx:
            print("indice : "+str(j)+" 1valeur max : "+ str(maxx))

taille du tableau  : 3
Entrez un chiffre: 2
indice : 0 valeur max : 2
Entrez un chiffre: 7
indice : 1 valeur max : 7
Entrez un chiffre: 10
indice : 2 valeur max : 10

Exo 2.6

In [ ]:
tab=[]
nb1=int(input('taille du tableau  : '))
for i in range(nb1):
    nb=int(input('Entrez un chiffre: '))
    tab.append(nb)
somme=0
for j in tab:
    somme += j

moyenne = somme / nb1

resultat = 0

for k in tab:
    if k > moyenne:
        resultat=resultat + k
print("moyennne de : "+str(moyenne)+ " plus grande valeur :" +str(resultat))

taille du tableau  : 2
Entrez un chiffre: 3
Entrez un chiffre: 89
moyennne de : 46.0 plus grande valeur :89

Exo 2.7

In [ ]:
v1 = [5, 8]
v2 = [3, 6]


res = []

for i in range(2):
    num = v1[i] * v2[i]
    res.append(num)

print(res)

[15, 48]

EXO 2.8

In [ ]:
tab=[]
nb1=int(input('taille du tableau  : '))
for i in range(nb1):
    nb=int(input('Entrez un chiffre: '))
    tab.append(nb)
        
# print(nums)
print(tab)
tab.sort()
print("tableau trié : " +str(tab))

taille du tableau  : 3
Entrez un chiffre: 8
Entrez un chiffre: 3
Entrez un chiffre: 90
[8, 3, 90]
tableau trié:[3, 8, 90]

EXO 2.9

In [ ]:
n = int(input("Entrez un nombre : "))
fact = 1

for i in range(1,n+1):
    fact = fact * i

print("La  factorielle de " + str(n) + " est = "+ str(fact))

Entrez un nombre : 4
La  factorielle de 4 est = 24

EXO 2.10

In [31]:
m1=[[2,4],[6,8]]
m2=[[4,8],[7,1]]
nb1=int(input('Entrez indice i: '))-1
nb2=int(input('Entrez indice j: '))-1

print(m1[nb1][nb2]*m2[nb1][nb2])

Entrez indice i: 1
Entrez indice j: 2
32

EXO 2.11    Suite de Fibonacci

EXO Somme de suite non adjacent:

In [11]:
tab1=[7,10,12,7,9,14]

def Somme_Max(tab1):
  tab2=[]
  tab2.append(tab1[0])
  if tab2[0]<tab1[1]:
    tab2.append(tab1[1])
  else :
    tab2[1]=tab2[0]

  for i in range(2,len(tab1)):
    if tab1[i]+tab2[i-2]> tab2[i-1]:
        tab2.append(tab1[i]+tab2[i-2])

    else:
      tab2.append(tab2[i-1])
  return(tab2)
print("Le tableau : " +str(Somme_Max(tab1)))

print("Le max est :"+str(max(Somme_Max(tab1))))

Le tableau : [7, 10, 19, 19, 28, 33]
Le max est :33

Autre methode d'ecriture

In [35]:
var = [[x for x in range(10) ]for y in range(10)];var

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

EXO 2.11 Suite de Fibonacci :

Complexité O(n)

In [51]:
nb=int(input('Entrez n: '))
tab=[]
for i in range(nb):
  if i>1:
    x=tab[i-2]+tab[i-1]
    tab.append(x)
  else:
    tab.append(i)
print(tab)

Entrez n: 15
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

EXO 2.12 Suite de Fibonacci :

In [66]:
alp=float(input('Entrez alpha: '))

i=1
somme=0
while somme<alp:
  somme+=somme +1/i
  i=i+1
print(i)

Entrez alpha: 1.8
3